target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

*.class
*.jar
*.war
*.ear

*.log
logs/

*.db
*.db-journal

.DS_Store
Thumbs.db

database.db
logs/
